# Copyright (c) 2023 Idle Builds
# SPDX-License-Identifier: MIT

if SHIELD_DINKEY34_LEFT

config ZMK_KEYBOARD_NAME
    default "Dinkey 34"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_DINKEY34_LEFT

if SHIELD_DINKEY34_LEFT || SHIELD_DINKEY34_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_DINKEY34_LEFT || SHIELD_DINKEY34_RIGHT
